/* crimson-text-regular - latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
        url('../fonts/crimson-text-v10-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/crimson-text-v10-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* crimson-text-600 - latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 600;
    src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
        url('../fonts/crimson-text-v10-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/crimson-text-v10-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* crimson-text-600italic - latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 600;
    src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'),
        url('../fonts/crimson-text-v10-latin-600italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/crimson-text-v10-latin-600italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* crimson-text-700italic - latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'),
        url('../fonts/crimson-text-v10-latin-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/crimson-text-v10-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Базовые настройки для боди для того чтобы другие элементы могли унаследовать определенные стили*/
body {
    font-family: "Crimson Text";
    font-style: regular;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

/* Для того, чтобы изображение не превышало размеры контейнера в котором оно находится, а height auto - сжималось пропорционально по высоте*/
img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.main__wrapper {
    /* Выравнивание:
    margin: 0 auto;
    padding: 0 15px;
*/

}

/*  Header start */
.header {
    width: 100%;
    height: 300px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cake.JPG) no-repeat center;
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
}

.header__logo-pic {
    width: 50px;
    margin: auto 10px;
}

.header__logo-pic:hover,
.header__logo-pic:focus,
.header__logo-pic:active {
    transform: rotate(95deg);
    transition: .8s all;
}

.header__name {
    font-style: italic;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 400;
    color: white;
}

/*  Header end */

/* Scroll top start */   

.arrow{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px 20px 20px 10px;
}
    
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #5c2e2e;
    border-right: 5px solid #5c2e2e;
    transform: rotate(-135deg);
    margin: -16px 0;
    animation: arrow 2s infinite;
    animation-direction: reverse;
}
.arrow span:nth-child(2){
    animation-delay: 0.2s;
}
.arrow span:nth-child(3){
    animation-delay: 0.4s;
}
@keyframes arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(-135deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(-135deg);
    }
}

/* Scroll top end */

/* Menu start*/
.main__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 15px;

}

.menu__list {
    width: 25%;
    padding: 10px;
    background: #443636;
}

.menu__name {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    color: white;
}

.menu__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    opacity: .75;
}

/* Menu end*/


/*Main content style start*/
.main__content {
    padding: 10px;
    width: 75%;
}

.main__content img {
    width: 500px;
}

/*Dish style start*/
.main__content__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.dish__name {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    padding: 10px;
}

.dish__list {
    width: 40%;
    padding: 10px;
}

.dish__pic {
    width: 50%;
}

.dish__desc {
    padding: 10px;
}

/*Dish style end*/

/*Main content style end*/

/*Footer style start*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__item {}

.footer__item:hover,
.footer__item:active,
.footer__item:focus,
    {}

/*Footer style end*/
@media screen and (max-width:960px) {}

@media screen and (max-width:767px) {
    .header {
        height: auto;
    }

    .header__wrapper {
        height: 100px;
        margin-bottom: 0;
    }

    .header__logo-pic {
        width: 20px;
    }

    .header__name {
        font-size: 14px;
        line-height: 14px;
    }

    .main__wrapper {
        display: block;
        padding: 0;
    }

    .menu__name {
        font-size: 20px;
    }

    .menu__link {
        font-size: 14px;
        line-height: 12px;
    }

    .menu__list {
        width: 100%;
    }
    .dish__list{
        width: 100%;
    }
    .main__content {
        width: 100%;
    }
    .dish__name {
        font-size: 16px;
        padding: 5px;
    }
    .dish__list{
        font-size: 14px;
    }
    .dish__desc{
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {}
