body {
    font-family: sans-serif;
    background-color: white;
  background-image: 
     url(images/wallper1.jpg);
/*    url('https://www.muralswallpaper.co.uk/app/uploads/Watermelon-Website-Swatch.jpg');*/
/*    url('https://www.muralswallpaper.co.uk/app/uploads/Orange-Carrot-Cake-Baking-Wallpaper-Mural-Plain.jpg');*/
    /*url('https://www.muralswallpaper.co.uk/app/uploads/Green-Carrot-Cake-Baking-Wallpaper-Mural-Plain.jpg');*/
    
    background-position: left top;
    background-repeat: repeat;
}
img {
    width: 500px;
    border: 2px solid black;
}
ul {
    list-style-type: none;
}
aside h3{
    background: pink;
    color: black;
}

h1,
h3 {
    text-align: center;
}

header {
    background: #ffc0cb;
    color: black;
}

aside {
    background: #6d694a;
    color: white;
}

.grid-conteiner {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
*/
    display: grid;
    grid-template-areas: "header header"
        "aside main"
        "footer footer";
    grid-template-rows: 50px auto-fit 30px;
    grid-template-columns: 300px 1fr;
}
header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
.main{
/* width: 1000px;*/
    background-color: antiquewhite;
    padding: 5px 15px;
    margin: 10px;
}

.main p {
    text-align: justify;
}

.name-ingredients {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: row-reverse;*/
}

.name-ingredients img,
.name-ingredients .crop {
    order: 2;

}

.ingredients {
    margin-left: 20px;
    width: 350px;
}

.crop {
    float: right;
    overflow: hidden;
    outline: 2px solid black;

}

.crop img {
    margin: -270px 0px -40px -5px;
    border: none;
}
footer {
        background: pink;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
footer li {
margin-right: 10px;
}
/*
.crop {
   float: right;
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 350px;
}
.crop img{
position: absolute;
    top: -280px;
    left: -5px;
}
*/
