body {
}

header {
    background: red;
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
}
aside, d {
    background: yellow;
/*    table-layout: auto;*/
}

main {
    background: blue;
    text-align: center;

}

.width-2-3{
    width: 66.65%; 
}
.width-1-3{
   width: 33.32%;
}


footer {
    background: green;
    text-align: center;
}

